{% extends "layout.html" %}
{% load static %}



{% block body %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    
<div class="main-box">
    <div id="main-box-entry">
    {% for entry in entries %}
        {% if entry.main == True %}
        <label contenteditable="true" class="main-date" id="main-entry-date" >{{ todays_date }}</label>
        <hr>
        <div contenteditable="true" onclick="empty_content(this)" id="main-entry-body" class="main-entry-body">
            {{ entry.body }} 
        </div> 
        <div id="main-title">
            <label class="diary-entries">Tasks:</label>
        </div>

        {% endif %}
    {% endfor %}
        <div id="grid-{{entry.id}}" class="grid">
            {% for entry in entries %}
                {% if entry.main == True %}
                        {% for task in entry.tasks.all %}
                        <div id="grid-{{ task.id }}" class="grid-item">
                            <input name="{{ entry.id }},{{ task.id }}" onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label id="{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                            
                            <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="20px" height="20px" alt="">
                        </div>
                            
                        
                        {% endfor %}
                        {% for task in entry.completed_tasks.all %}
                        <div id="grid-{{ task.id }}" class="grid-item">
                            <input name="{{ entry.id }},{{ task.id }}" checked onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label id="{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                            
                            <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="20px" height="20px" alt="">
                        </div>
                            
                        {% endfor %}
                        <div id="grid-{{ task.id }}" class="grid-item">
                            <a href="#exampleModalCenterAdd{{ entry.id }}" data-target="#exampleModalCenterAdd{{ entry.id }}" role="button" data-toggle="modal">
                                <img id="add-task" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAgxTG1meQKhxtQX8hvgNLF3mdt0LfW8HoQ&usqp=CAU" width="20px" height="20px" alt="">
                            </a>
                        </div>
                    </div>     


    </div>
    <div>
    
        <button id="compose-btn" onclick="compose('{{ entry.id }}')" class="btn btn-primary" >Create new entry</button>
       
    </div>
</div>                

<!-- Modal -->
<div class="modal fade" id="exampleModalCenterAdd{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Task name:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="add-new-task{{ entry.id }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="add_task(`{{ entry.id }}`)"  type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="task-name-change{{ entry.id }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="edit_task(`{{ entry.id }},{{ entry.id }}`)" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            {% endif %}
        {% endfor %}
    


        
    <div id="entry-parent">
        {% for entry in page_obj %}
        {% if entry.main == False %}
        <div  id="entry-{{ entry.id }}" class="diary-entries">
                <img onclick="delete_entry('{{entry.id}}')" id="delete-post-img" src="https://img.icons8.com/dotty/512/delete-forever.png" width="30px" height="30px" alt="">
                <label id="entry-date" onclick="expand_entry(`entry-{{ entry.id }}`)">{{ entry.date }}</label>
                <div  class="edit-btn">
                    <img name="{{ entry.id }}"  onclick="edit_entry(this.name)" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="30px" width="30px" alt="">
                </div>
                <hr>
                <div class="entry-body" id="entry-body{{ entry.id }}">
                    {{entry.body}}
                </div> 
                <div id="tasks-title">
                    <label class="">Tasks/Goals</label>
                    
                    
                </div>
                <div id="grid-{{ entry.id }}" class="grid">
                    {% for task in entry.tasks.all %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <input name="{{ entry.id }},{{ task.id }}" onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label id="{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                        <a href="#exampleModalCentre{{ entry.id }}" data-target="#exampleModalCenter{{ entry.id }}" role="button" data-toggle="modal"><img  id="edit-task" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="20px" width="20px" alt=""></a>
                        <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="20px" height="20px" alt="">
                    </div>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="task-name-change{{ entry.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="edit_task(`{{ task.id }},{{ entry.id }}`)" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for task in entry.completed_tasks.all %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <input name="{{ entry.id }},{{ task.id }}" checked onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label id="{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                        <a href="#exampleModalCentre{{ entry.id }}" data-target="#exampleModalCenter{{ entry.id }}" role="button" data-toggle="modal"><img  id="edit-task" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="20px" width="20px" alt=""></a>
                        <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="20px" height="20px" alt="">
                    </div>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="task-name-change{{ entry.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="edit_task(`{{ entry.id }},{{ entry.id }}`)" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <a href="#exampleModalCenterAdd{{ entry.id }}" data-target="#exampleModalCenterAdd{{ entry.id }}" role="button" data-toggle="modal">
                            <img id="add-task" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAgxTG1meQKhxtQX8hvgNLF3mdt0LfW8HoQ&usqp=CAU" width="20px" height="20px" alt="">
                        </a>
                    </div>
                       <!-- Modal -->
                       <div class="modal fade" id="exampleModalCenterAdd{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="add-new-task{{ entry.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="add_task(`{{ entry.id }}`)"  type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>     
            </div>
         {% endif %}   
        {% endfor %}
    </div>

    
    

    
    

    {% block script %}
    <script src="{% static 'diaryApp/index.js' %}"></script>
    {% endblock %}


{% endblock %}