{% extends "layout.html" %}
{% load static %}



{% block body %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        <hr>
        <button id="compose-btn" onclick="compose()" class="btn btn-success" >Create Todays Entry!</button>
    </span>
</div>
    
               



        
    <div id="entry-parent">
        <div id="compose-entry" class="diary-entries expand" style="display: none;">

        </div>
        {% for entry in page_obj %}
        {% if entry.main == False %}
        
        <div  id="entry-{{ entry.id }}" class="diary-entries">
                <img onclick="delete_entry('{{entry.id}}')" id="delete-post-img" src="https://img.icons8.com/dotty/512/delete-forever.png" width="45px" height="45px" alt="">
                <div>
                    <span onclick="expand_entry(`entry-{{ entry.id }}`)" class="dates" id="entry-weekday-{{ entry.id }}">{{ entry.weekday }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    
                    <span id="entry-date-{{ entry.id }}">
                        <label id="entry-date" onclick="expand_entry(`entry-{{ entry.id }}`)">{{ entry.date }}</label>
                    </span>
                    <div  class="edit-btn">
                        <img name="{{ entry.id }}"  onclick="edit_entry(this.name)" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="50px" width="50px" alt="">
                    </div>

                </div>
                
                
                <hr>
                <div class="entry-body" id="entry-body{{ entry.id }}">
                    {{entry.body}}
                </div> 
                <div id="tasks-title">
                    <label class="">Tasks/Goals</label>
                    
                    
                </div>
                <div id="grid-{{ entry.id }}" class="grid">
                    {% for task in entry.tasks.all %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <input name="{{ entry.id }},{{ task.id }}" onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label id="{{ task.id }},{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                        <a href="#exampleModalCentre{{ entry.id }}{{ task.id }}" data-target="#exampleModalCenter{{ entry.id }}{{ task.id }}" role="button" data-toggle="modal"><img  id="edit-task" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="40px" width="40px" alt=""></a>
                        <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="40px" height="40px" alt="">
                    </div>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ entry.id }}{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="task-name-change{{ entry.id }}{{ task.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="edit_task(`{{ task.id }},{{ entry.id }}`)" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for task in entry.completed_tasks.all %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <input name="{{ entry.id }},{{ task.id }}" checked onclick="save_task(this.name)" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label id="{{ task.id }},{{ entry.id }}" class="form-check-label" for="flexSwitchCheckDefault">{{ task }}</label>
                        <a href="#exampleModalCentre{{ entry.id }}{{ task.id }}" data-target="#exampleModalCenter{{ entry.id }}{{ task.id }}" role="button" data-toggle="modal"><img  id="edit-task" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" height="40px" width="40px" alt=""></a>
                        <img onclick="remove_task('{{ entry.id}},{{ task.id }}')" id="remove-task" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png" width="40px" height="40px" alt="">
                    </div>
                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ entry.id }}{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="task-name-change{{ entry.id }}{{ task.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="edit_task(`{{ task.id }},{{ entry.id }}`)" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="grid-{{ task.id }}" class="grid-item">
                        <a href="#exampleModalCenterAdd{{ entry.id }}" data-target="#exampleModalCenterAdd{{ entry.id }}" role="button" data-toggle="modal">
                            <img id="add-task" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAgxTG1meQKhxtQX8hvgNLF3mdt0LfW8HoQ&usqp=CAU" width="40px" height="40px" alt="">
                        </a>
                    </div>
                    
                       <!-- Modal -->
                       <div class="modal fade" id="exampleModalCenterAdd{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Task name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <input type="text" id="add-new-task{{ entry.id }}">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="add_task(`{{ entry.id }}`)"  type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div> 
                
        
                </div>    
            </div>
            
         {% endif %}   
        {% endfor %}
        
    </div>

    
    

    
    

    {% block script %}
    <script src="{% static 'diaryApp/index.js' %}"></script>
    {% endblock %}


{% endblock %}